<h1>Uno de sus refránes o dichos preferidos...</h1>
<%= simple_form_for @quote do |f| %>
  <%= f.input :saying %>
  <br>
  <%= f.input :author %>
  <br>
  <%= f.input :country %>
  <br>
  <%= f.submit 'Crear', class: 'btn btn-success' %>
<% end %>